## Top level imports

In [22]:
import sys
import os
import pandas as pd

## Relative imports

In [2]:
sys.path.append("..")

In [3]:
from data import AuctionData
from data.bid import Bid

## Data exploration

In [4]:
b = Bid.generate()

In [5]:
AD = AuctionData()

In [8]:
len(AD.data)

1001

In [7]:
AD.add_bid()

In [17]:
vars(b)

{'account_id': 7, 'amount': 7395, 'auction_id': 0, 'time_unit': 67}

In [ ]:
dic = {}

In [ ]:
for bid in AD.data:
    vals = dic[bid.auction_id]
    if bid.amount > vals['amount']:
        vals['amount'] = bid.amount
        vals['account_id'] = bid.account_id
        
        # todo - add in log point for recording

## Pandas key stats from csv

In [24]:
FILE_PATH = os.path.dirname(os.path.abspath('')) + "/data/data.csv"
        
df = pd.read_csv(FILE_PATH)

In [28]:
df.head(5)

   Unnamed: 0  account id  amount  auction id  time unit
0           0           7   13928          20          1
1           1           3   19837           1         45
2           2           7    8957           3         30
3           3           3   11996          12         33
4           4           7   17645           7         95

In [29]:
df.groupby(['auction id'], sort=False)['amount'].max()

auction id
20    19951
1     19837
3     19143
12    19606
7     19500
18    19504
5     19671
11    19912
2     19953
17    19640
8     19928
9     19697
19    19593
0     19673
4     19778
14    19640
10    19820
16    19619
15    19742
13    19705
6     19869
21     -204
Name: amount, dtype: int64